$clrPri: #6800a4;
$clrSec: #00ff00;
$clrBase: #eeeeee;
$clrTexto: #000000;

$sombra: 1px 1px #505050, -1px 1px #505050, -1px -1px #505050, 1px -1px #505050;

$brkpntTablets: 768px;
$brkpntDesktop: 1024px;
$brkpntWide: 1440px;