@import "base";

main {
	section {
		form {
			width: 90%;
			margin-top: 1rem;
			display: flex;
			flex-direction: column;
			justify-self: center;
			background-color: $clrPri;
			color: $clrSec;

			@media screen and (min-width: $brkpntTablets) {
				border-radius: 25px;
			}

			.form-row {
				margin-bottom: 1rem;

				.tag-formulario {
					margin-bottom: 0.5rem;
				}

				.texto-nombre {
					width: 42%;
					margin-left: 1rem;

					@media screen and (min-width: $brkpntTablets) {
						width: 46%;
					}

					@media screen and (min-width: $brkpntTablets) {
						width: 46.5%;
					}
				}

				input[type="textbox"]:not(.texto-nombre) {
					width: 90%;
					margin-left: 1rem;

					@media screen and (min-width: $brkpntTablets) {
						width: 95%;
					}

					.caja-grande {
						height: 5rem;
					}
				}

				input[type="radio"] {
					margin-left: 1rem;
				}

				button {
					margin: 0 45% auto;
					background-color: $clrSec;
					color: $clrTexto;
					font-weight: bold;
				}
			}
		}
	}
}