/* Reset de margenes y padding, para asegurar box model apropiado */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* || VALORES PREDETERMINADOS DE ESTILO || */

header{
	height:100px;
	background-color:#6800a4;
	display:flex;
	width:100%;
	margin:auto;
	position:fixed;
	left:0;
	top:0;
	z-index:500;
}

.navbar{
	width:100%;
}

.navbar-nav{
	width:100%;
	position:relative;
	margin-right:2%;
	text-transform:uppercase;
}

.bg-body-tertiary{
	background-color:#6800a4!important;
}

.active{
	background-color:#00ff00;
	font-weight: bold;
}

.nav-link:not(.active){
	color:#00ff00;
}

main{
	margin-top:7rem;
	overflow:hidden;
}

footer{
	height:12rem;
	width:100%;
	background-color:#6800a4;
	overflow-x:hidden;
}

.footer-site{
	position:relative;
	color:#ffffff;
	display:flex;
	justify-content: center;
	top:3rem;
	font-size:1.5em;
}

.icons-redes{
	width:100%;
	position:relative;
	top:5rem;
}

.footer-index{
	width:50%;
	position:relative;
	top:-1.75rem;
	left:30rem;
	display:inline-flex;
	gap:8rem;
}

.f-index{
	display: none;
}

.f-index a{
	color:#44d500;
	text-decoration:none;
}

/* Media Queries, usando breakpoints mas comunes para diseño responsive */

@media (max-width: 425px){
	.navbar-nav{
		justify-self:center;
		text-align:center;
		background-color:#6800a4;
	}

	.navbar-brand{
		position:relative;
		top:-0.8rem;
	}

	.navbar-toggler{
		position:relative;
		top:-0.75rem;
	}

	.icons-redes{
		display:inline-flex;
		justify-content: space-evenly;
	}
}

@media (min-width: 426px){

}

@media (min-width: 768px){
	.footer-index{
		gap:2rem;
		justify-content: flex-end;
	}

	.f-index{
		width:25%;
		left:5rem;
	}
}

@media (min-width: 1024px){
	.navbar-nav{
		justify-self:end;
		gap:3rem;
	}

	.active{
		border-radius:25px;
	}

	.footer-site{
		display:initial;
		left:5rem;
		top:2rem;
	}

	.icons-redes{
		left:5.5rem;
		top:5rem;
	}

	.icons-redes a{
		margin-left:1rem;
	}

	.footer-index{
		gap:4rem;
		justify-content:flex-end;
	}

	.f-index{
		width:4rem;
		display:flex;
		flex-wrap: wrap;
		gap:0.5rem;
		color:#ffffff;
	}
}