/* Reset de margenes y padding, para asegurar box model apropiado */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* || VALORES PREDETERMINADOS DE ESTILO || */

header{
	height:100px;
	background-color:#6800a4;
	display:flex;
	width:100%;
	margin:auto;
	position:fixed;
	left:0;
	top:0;
	z-index:500;
}

.navbar{
	width:100%;
}

.navbar-nav{
	width:100%;
	text-transform:uppercase;
	justify-self:center;
	text-align:center;
	background-color:#6800a4;
}

.navbar-brand{
	position:relative;
	top:-0.8rem;
}

.navbar-toggler{
	position:relative;
	top:-0.75rem;
	border-color:#00ff00;
}

.bg-body-tertiary{
	background-color:#6800a4!important;
}

.active{
	background-color:#00ff00;
	font-weight: bold;
}

.nav-link:not(.active){
	color:#00ff00;
}

main{
	margin-top:7rem;
	overflow:hidden;
}

footer{
	height:12rem;
	width:100%;
	background-color:#6800a4;
	overflow-x:hidden;
}

.footer-site{
	width:100%;
	position:relative;
	color:#ffffff;
	display:flex;
	justify-content: center;
	top:3rem;
	font-size:1.5em;
}

.icons-redes{
	width:100%;
	position:relative;
	top:5rem;
	display:inline-flex;
	justify-content: space-evenly;
}

.footer-index{
	width:50%;
	position:relative;
	display:inline-flex;
	gap:2rem;
	justify-content: flex-end;
}

.f-index{
	display: none;
}

.f-index a{
	color:#44d500;
	text-decoration:none;
}

#seccion-i-2{
	display:none;
}

.open-noticias{
	width:100%;
	text-align:center;
}

#seccion-i-1 img{
	width:100%;
	height:100%;
	object-fit:cover;
}

#seccion-i-3{
	margin-top:2rem;
}

#seccion-i-3 img, #seccion-i-3 p{
	display:inline-flex;
}

#seccion-i-3 img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.boton-style{
	height:2rem;
	background-color:#6800a4;
	color:#00ff00;
	text-align: center;
	text-transform: uppercase;
	margin-bottom:0.5rem;
	line-height: 2rem;
	font-weight:bold;
}

.contenedor{
	display:inline-flex;
	width:100%;
}

.contenedor img{
	width:80%;
	object-fit:cover;
}

.menu-contenedor{
	width:20%;
	display:flex;
	flex-wrap: wrap;
	background-color:#6800a4;
	gap:0.5rem;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.menu-contenedor img{
	height:10rem;
	width:10rem;
	object-fit: cover;
}

.seccion-t-2{
	display:inline-flex;
	gap:4rem;
}

.seccion-t-2 img{
	width:45%;
	height:45%;
	object-fit: cover;
}

.talent-info{
	width:45%;
}

/* || Media Queries, usando breakpoints mas comunes para diseño responsive || */

/* MQ para tablets */

@media screen and (min-width: 768px){
	.f-index{
		width:25%;
		left:5rem;
	}

	#seccion-i-3 img, #seccion-i-3 p{
		width:45%;
		height:45%;
	}

	#seccion-i-3 p{
		margin-left:1rem;
		position:relative;
		top:-10rem;
	}

	.boton-style{
		position:relative;
		top:-8rem;
	}

	#boton-2{
		margin-bottom:-7rem;
	}

	/* Estilos para talents.html */

	.boton-stream{
		display:none;
	}
}

/* MQ para escritorio */

@media screen and (min-width: 1024px){
	.navbar-brand{
		top:0rem;
	}

	.active{
		border-radius:25px;
	}

	.footer-site{
		display:initial;
		left:2rem;
	}

	.icons-redes{
		display:initial;
		top:6rem;
		left:-12rem;
	}

	.icons-redes a{
		margin-left:1rem;
	}

	.footer-index{
		width:95%;
		gap:4rem;
		justify-content:flex-end;
	}

	.f-index{
		width:4rem;
		gap:0.5rem;
		color:#ffffff;
		display:flex;
		flex-wrap: wrap;
	}

	/* Estilos para index.html */

	#seccion-i-2{
		display:initial;
	}

	#seccion-i-2 .carrusel{
		display:inline-flex;
		gap:1rem;
	}

	#seccion-i-3 p{
		top:-14rem;
	}

	.boton-style{
		width:45%;
		position:relative;
		left:47%;
		top:-5.25rem;
		border-radius:25px;
	}

	#boton-2{
		margin-bottom:-3rem;
	}

	/* Estilos para talents.html */

	.boton-stream{
		margin-left:3rem;
		display:initial;
	}
}

@media screen and (min-width: 1440px){
	.navbar-nav{
		justify-self:end;
		gap:3rem;
	}

	.footer-site{
		left:5rem;
		top:3rem;
	}

	.icons-redes{
		left:-9rem;
	}

	/* Estilos para index.html */

	#seccion-i-3 p{
		top:-19.75rem;
	}

	.boton-style{
		height:4rem;
		line-height:4rem;
		font-size:2rem;
		top:-20rem;
	}

	/* Estilos para talents.html */

	.talent-info a{
		display:inline-flex;
		width:100%;
		flex-wrap: wrap;
		gap:1rem;
		background-color:#6800a4;
		border-radius:25px;
		color:#ffffff;
		text-decoration: none;
		align-items: center;
		text-transform: uppercase;
		font-size:2rem;
		margin-top:5rem;
	}

	.talent-info a img{
		height:60px;
		width:70px;
		margin-left:3rem;
	}

	.boton-stream{
		margin-left:9rem;
	}
}